In [1]:
strategies=['Rock','Paper','Scissors','Lizard','Spock']

In [2]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0),
        ('Lizard','Spock'):(1,0),
        ('Spock','Lizard'):(0,1),
        ('Lizard','Rock'):(0,1),
        ('Rock','Lizard'):(1,0),
        ('Lizard','Paper'):(1,0),
        ('Paper','Lizard'):(0,1),
        ('Lizard','Scissors'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Lizard','Lizard'):(0,0),
        ('Spock','Rock'):(1,0),
        ('Rock','Spock'):(0,1),
        ('Spock','Scissors'):(1,0),
        ('Scissors','Spock'):(0,1),
        ('Spock','Paper'):(0,1),
        ('Paper','Spock'):(1,0),
        ('Spock','Spock'):(0,0),}

In [3]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [4]:
from random import choice

choice(strategies)

'Rock'

In [5]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [6]:
Players

[{'name': 'John', 'score': 0, 'strategy': 'Lizard'},
 {'name': 'Mary', 'score': 0, 'strategy': 'Spock'}]

In [7]:
Players[0]['strategy'],Players[1]['strategy']

('Lizard', 'Spock')

In [8]:
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(1, 0)

In [9]:
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [10]:
Players

[{'name': 'John', 'score': 1, 'strategy': 'Lizard'},
 {'name': 'Mary', 'score': 0, 'strategy': 'Spock'}]

In [11]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score strategy
0  John      1   Lizard
1  Mary      0    Spock

In [12]:
winnerScore=socialResults.score.max()
socialResults[socialResults.score==winnerScore]

   name  score strategy
0  John      1   Lizard

In [13]:
# Add more players

In [14]:
names=['Jim','Jane','Peter','Zoe','John','Mary']

In [15]:
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [16]:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None},
 {'name': 'John', 'score': 0, 'strategy': None},
 {'name': 'Mary', 'score': 0, 'strategy': None}]

In [17]:
import itertools 

for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'John', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Mary', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'John', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Mary', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'John', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Mary', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'John', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Mary', 'score': 0, 'strategy': None})
({'name': 'John', 'score': 0, 'strategy': None}, {'name': 'Mary', 'score': 0, 'strategy': None})

In [18]:
import itertools 

for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'John', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Mary', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'John', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Mary', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'John', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Mary', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'John', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Mary', 'score': 0, 'strategy': None}
{'name': 'John', 'score': 0, 'strategy': None} {'name': 'Mary', 'score': 0, 'strategy': None}

In [19]:
society=[{'name':n,'score':0,'strategy':None} for n in names]

for aRound in range(100):
    

    for player1,player2 in itertools.combinations(society,2):
        
        player1['strategy']=choice(strategies)
        player2['strategy']=choice(strategies)
        
        result=payoff[player1['strategy'],player2['strategy']]
        
        player1['score']+=result[0]
        player2['score']+=result[1]

In [20]:
society

[{'name': 'Jim', 'score': 217, 'strategy': 'Paper'},
 {'name': 'Jane', 'score': 200, 'strategy': 'Paper'},
 {'name': 'Peter', 'score': 203, 'strategy': 'Paper'},
 {'name': 'Zoe', 'score': 190, 'strategy': 'Paper'},
 {'name': 'John', 'score': 210, 'strategy': 'Paper'},
 {'name': 'Mary', 'score': 192, 'strategy': 'Rock'}]

In [21]:
socialResults=pd.DataFrame(society)
socialResults

    name  score strategy
0    Jim    217    Paper
1   Jane    200    Paper
2  Peter    203    Paper
3    Zoe    190    Paper
4   John    210    Paper
5   Mary    192     Rock

In [22]:
winnerScore=socialResults.score.max()

In [26]:
socialResults[socialResults.score==winnerScore]

  name  score strategy
0  Jim    217    Paper